header, footer {
    margin-bottom: 10px;
    padding: 20px;
  }
  
  #logo {
    font-size: 0.8em;
    display: inline-block;
    width: 24;
    height: 24;
  }
  footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
li{
    margin: auto;
    font-size: 13px;
    width: 19vw;
}
li a{
    text-decoration: none;
    font-family: sans-serif ;
    color: black;
    
}
li p {
    text-align: center;
    padding: 0 0 auto 0;
    vertical-align: top;
    
}






